#!/usr/bin/env bash

# Config

export BYPASS_VPN=false
export VPN=""

export REMOTE=""
export SYNC_INTERVAL=$(( 24 * 60 * 60 ))

export SRC_DIR="./photos/src"
export ACTIVE_DIR="./photos/active"
export ACTIVE_INTERVAL=36

