[Unit]
Description=Starts photo frame slideshow
Requires=graphical.target
After=network-online.target

[Service]
Environment=PHOTOFRAME=/home/pi/Pictures/frame
DISPLAY=:0
User=pi
Type=idle

ExecStart=/usr/local/bin/photoframe.sh
Environment=PHOTOFRAME=/home/pi/Pictures/frame
DISPLAY=:0
User=pi

Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target
